apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ kubernetes_netbox_configmap }}
  namespace: {{ kubernetes_netbox_namespace }}
data:
  cors_origin_whitelist: "{{ kubernetes_netbox_cors_origin_whitelist }}"
  db.host: "{{ kubernetes_netbox_db.host }}"
  db.port: "{{ kubernetes_netbox_db.port | default('') }}"
  db.name: "{{ kubernetes_netbox_db.name }}"
  email.from: "{{ kubernetes_netbox_email_from }}"
  email.port: "{{ kubernetes_netbox_email_port }}"
  email.server: "{{ kubernetes_netbox_email_server }}"
  email.timeout: "{{ kubernetes_netbox_email_timeout }}"
  login_required: "{{ kubernetes_netbox_login_required }}"

  nginx.conf: |
    worker_processes 1;

    events {
        worker_connections  1024;
    }

    http {
        include       /etc/nginx/mime.types;
        default_type  application/octet-stream;
        sendfile        on;
        tcp_nopush     on;
        keepalive_timeout  65;
        server_tokens off;

        server {
            listen 80;

            server_name localhost;

            access_log off;

            location /static/ {
                expires 30d;
                alias /opt/netbox/netbox/static/;
            }

            location / {
                proxy_pass http://localhost:8080;
                add_header P3P 'CP="ALL DSP COR PSAa PSDa OUR NOR ONL UNI COM NAV"';
            }
        }
    }
