apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ kubernetes_netbox_deployment }}
  namespace: {{ kubernetes_netbox_namespace }}
  labels:
    app: {{ kubernetes_netbox_app }}
{% if kubernetes_netbox_deployment_labels %}
    {{ kubernetes_netbox_deployment_labels | to_nice_yaml | indent(4) }}
{% endif %}
{% if kubernetes_netbox_deployment_annotations %}
  annotations:
    {{ kubernetes_netbox_deployment_annotations | to_nice_yaml | indent(4) }}
{% endif %}
spec:
  replicas: {{ kubernetes_netbox_replicas }}
  revisionHistoryLimit: {{ kubernetes_netbox_revision_history }}
  selector:
    matchLabels:
      app: {{ kubernetes_netbox_app }}
  template:
    metadata:
      labels:
        app: {{ kubernetes_netbox_app }}
    spec:
      containers:
      - image: {{ kubernetes_netbox_image }}
        imagePullPolicy: Always
        name: netbox
        resources:
          {{ kubernetes_netbox_resources | to_yaml | indent(10) }}
        ports:
        - name: http
          containerPort: 80
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 15
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 90
          periodSeconds: 10
        env:
        - name: ALLOWED_HOSTS
          value: "*"
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: {{ kubernetes_netbox_configmap }}
              key: db.host
        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              name: {{ kubernetes_netbox_configmap }}
              key: db.port
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: {{ kubernetes_netbox_configmap }}
              key: db.name
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ kubernetes_netbox_secret }}
              key: db.password
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: {{ kubernetes_netbox_secret }}
              key: db.user
        - name: EMAIL_FROM
          valueFrom:
            configMapKeyRef:
              name: {{ kubernetes_netbox_configmap }}
              key: email.from
        - name: EMAIL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ kubernetes_netbox_secret }}
              key: email.password
        - name: EMAIL_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ kubernetes_netbox_secret }}
              key: email.user
        - name: EMAIL_PORT
          valueFrom:
            configMapKeyRef:
              name: {{ kubernetes_netbox_configmap }}
              key: email.port
        - name: EMAIL_SERVER
          valueFrom:
            configMapKeyRef:
              name: {{ kubernetes_netbox_configmap }}
              key: email.server
        - name: EMAIL_TIMEOUT
          valueFrom:
            configMapKeyRef:
              name: {{ kubernetes_netbox_configmap }}
              key: email.timeout
        - name: LOGIN_REQUIRED
          valueFrom:
            configMapKeyRef:
              name: {{ kubernetes_netbox_configmap }}
              key: login_required
        - name: NAPALM_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ kubernetes_netbox_secret }}
              key: napalm.user
        - name: NAPALM_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ kubernetes_netbox_secret }}
              key: napalm.password
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: {{ kubernetes_netbox_secret }}
              key: secret_key
        - name: SUPERUSER_EMAIL
          valueFrom:
            secretKeyRef:
              name: netbox
              key: su.email
        - name: SUPERUSER_NAME
          valueFrom:
            secretKeyRef:
              name: {{ kubernetes_netbox_secret }}
              key: su.user
        - name: SUPERUSER_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ kubernetes_netbox_secret }}
              key: su.password
        volumeMounts:
        - mountPath: /opt/netbox/netbox/static
          name: netbox-static-files
      - image: {{ kubernetes_netbox_nginx_image }}
        imagePullPolicy: Always
        name: nginx
        resources:
          {{ kubernetes_netbox_nginx_resources | to_yaml | indent(10) }}
        volumeMounts:
        - mountPath: /opt/netbox/netbox/static
          name: netbox-static-files
        - mountPath: /etc/nginx/nginx.conf
          name: netbox-config
          subPath: nginx.conf
{% if kubernetes_netbox_node_selector|default({}) %}
      nodeSelector:
        {{ kubernetes_netbox_node_selector | to_yaml | indent(8) }}
{% endif %}
      volumes:
      - name: netbox-config
        configMap:
          name: {{ kubernetes_netbox_configmap }}
          items:
            - key: nginx.conf
              path: nginx.conf
      - name: netbox-static-files
        emptyDir: {}
      restartPolicy: Always
status: {}
