apiVersion: v1
kind: Secret
metadata:
  name: {{ kubernetes_netbox_secret }}
type: Opaque
data:
  db.password: "{{ kubernetes_netbox_db.password | b64encode }}"
  db.user: "{{ kubernetes_netbox_db.user | b64encode }}"
  email.password: "{{ kubernetes_netbox_email_password | b64encode }}"
  email.user: "{{ kubernetes_netbox_email_user | b64encode }}"
  secret_key: "{{ kubernetes_netbox_secret_key | b64encode }}"
  su.email: "{{ kubernetes_netbox_su_email | b64encode }}"
  su.user: "{{ kubernetes_netbox_su_name | b64encode }}"
  su.password: "{{ kubernetes_netbox_su_password | b64encode }}"
  napalm.user: "{{ kubernetes_netbox_napalm_user | b64encode }}"
  napalm.password: "{{ kubernetes_netbox_napalm_password | b64encode }}"
